body {
  padding: 1rem;
  background: lightgrey;
}

body > div {
  padding: 1rem;
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.5);
}

.auth-page h1 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

#auth-form .spinner {
  display: none;
}

#auth-form.loading button {
  display: none;
}

#auth-form.loading .spinner {
  display: block;
}
